<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{cart}})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!--v-bind trabalha dinamicamente com o atributo e a expressao-->
            <img v-bind:src="image"> <!--//v-bind directive -->
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <p v-if="inventory > 10">In Stock</p> <!--Forma de usar condicional no VUEJS-->
            <p v-else-if="inventory <= 10 && inventory > 0">Almost  sold out</p>
            <p v-else="inventory <= 0">Out of Stock</p>
            <!--Exibir lista:-->
            <ul>
              <li v-for="detail in details">
                {{detail}}
              </li>
            </ul>
            <div v-for="(variant, index) in variants" :key="variant.id" @mouseover="updateVariant(index)" class="color-circle" :style="{backgroundColor: variant.color}">{{}}</div>
            <button class="button" :class="{ disabledButton: !inStock }":disabled="!inStock" v-on:click="addToCart"
            @click="addToCart">
            Add to Cart

          </button> <!--Acrescentar eventos ao clicar-->
          </div>
          <div class="url">url: <a v-bind:href="url">My GitHub</a></div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

      <!-- Mount App -->
      <script>
        const mountedApp = app.mount('#app')
      </script>

  </body>
</html>
